/* jobs.css */

.job-list {
  display: flex;
  flex-direction: column;
}

.job-ul {
  position: relative;
  line-height: 1.5;
}

.list {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #c4cfde;
  margin-top: 24px;
}

.list .list-a {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: block;
}

.list > div {
  flex-basis: 40%;
}

.list .list-h2 {
  margin-right: 16px;
}

.list .list-h2 span {
  vertical-align: middle;
  font-size: 0.75em;
}

.list .list-span {
  padding-right: 16px;
}

.list > span {
  flex-basis: 20%;
  box-sizing: border-box;
}

#main-nav {
  background-color: #161616;
  color: white;
}
