@import url(util.css);
:root {
  --primary: #3dcfd3;
  --dark: #161616;
  --pure: #ffffff;
  --ternary: #898989;
  --light: #f2f2f2;
  --temp: #007166f5;
  --secondary: #070606;
}

body {
  font-family: "Poppins", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --wekit-font-smotthing: antialiased;
}

header {
  background: var(--dark);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 87%, 0 100%);
}

.container {
  max-width: 1152px;
  padding: 0 15px;
  margin: 0 auto;
}

header nav .left a {
  color: var(--pure);
  text-decoration: none;
  margin-right: 2rem;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

header nav .left a:hover {
  color: var(--primary);
}

header nav {
  padding: 2rem 0;
}

header nav .branding {
  margin-right: 3rem;
}

#main-nav {
  padding-top: 0px;
}

.hero {
  padding: 3rem 0;
}

.hero .left img {
  width: 400px;
}

.hero .right {
  color: var(--pure);
}

.hero .right h1 {
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.hero .right h1 span {
  color: var(--primary);
}

.hero .right p {
  line-height: 1.9;
  margin-bottom: 2rem;
}

.hero .right {
  margin-top: -7rem;
}

section {
  padding: 6rem 0;
}

section.values .val {
  height: 450px;
}

.section-heading {
  color: var(--secondary);
  text-align: center;
  margin-bottom: 1rem;
  line-height: 0.5;
}

.section-heading span {
  color: var(--temp);
}

.section-heading + p {
  color: var(--ternary);
  font-family: "Lato", sans-serif;
  margin-bottom: 1rem;
}

section.work {
  background: var(--light);
}

footer {
  background: var(--dark);
  text-align: center;
  padding: 2rem 0;
}

footer .copy {
  color: var(--ternary);
  text-align: center;
  padding: 1rem 0;
}

footer .logo {
  margin-bottom: 1rem;
}

@media screen and (max-width: 800px) {
  header #main-nav {
    visibility: hidden;
  }
}

/* Style the navigation menu */

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */

@media screen and (min-width: 767px) {
  .topnav {
    visibility: hidden;
  }
}

.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */

.active {
  background-color: var(--primary);
  color: white;
}

.fa {
  color: white;
}

* {
  box-sizing: border-box;
}

/* Slideshow container */

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */

.mySlides {
  display: none;
}

/* Next & previous buttons */

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Style the form element with a border around it */

form {
  border: 4px solid #f1f1f1;
}

/* Add some padding and a grey background color to containers */

.container-form {
  padding: 20px;
  background-color: #f1f1f1;
}

/* Style the input elements and the submit button */

input[type="text"],
input[type="submit"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Add margins to the checkbox */

input[type="checkbox"] {
  margin-top: 16px;
}

/* Style the submit button */

input[type="submit"] {
  background-color: #007166f5;
  color: white;
  border: none;
}

input[type="submit"]:hover {
  opacity: 0.8;
}

section.contact .card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* Style inputs with type="text", select elements and textareas */

input[type="text"],
select,
textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical;
  /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */

input[type="submit"] {
  background-color: #007166f5;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */

input[type="submit"]:hover {
  background-color: #007166f5;
}

/* Add a background color and some padding around the form */

.container-fo {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
