@import url(util.css);
:root {
  --primary: #3dcfd3;
  --dark: #161616;
  --pure: #ffffff;
  --ternary: #898989;
  --light: #f2f2f2;
  --temp: #007166f5;
  --secondary: #070606;
}

body {
  font-family: "Poppins", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --wekit-font-smotthing: antialiased;
}

header {
  background: var(--dark);
}

.container {
  max-width: 1152px;
  padding: 0 15px;
  margin: 0 auto;
}

header nav .left a {
  color: var(--pure);
  text-decoration: none;
  margin-right: 2rem;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

header nav .left a:hover {
  color: var(--primary);
}

/* header nav {
  padding: 2rem 0;
} */

header nav .branding {
  margin-right: 3rem;
}

#main-nav {
  background-color: #161616;
  color: white;
  display: flex;
  align-items: center;
  padding-top: 0px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  height: 80px !important;
}

.navLink {
  padding: 0 0 0 10px;
}

.Companylogo {
  height: 35px;
  width: 35px;
  border: 10px solid #3dcfd3;
  border-radius: 50%;
  margin-left: 10px;
}
.Companyname {
  padding-left: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: x-large;
}

.hero {
  margin-top: 80px;
}

.user {
  position: absolute;
  right: 10px;
}

.hero .left img {
  width: 400px;
}

.hero .right {
  color: var(--pure);
}

.hero .right h1 {
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.hero .right h1 span {
  color: var(--primary);
}

.hero .right p {
  line-height: 1.9;
  margin-bottom: 2rem;
}

.hero .right {
  margin-top: -7rem;
}

section {
  padding: 4rem 0;
  display: flex;
}

section.ourValues {
  height: 600px;
}
section .valImage {
  width: 40vw;
  display: flex;
  align-items: center;
}

.valImage img {
  padding-left: 100px;
  height: 100%;
  width: 100%;
}
section .valPara {
  width: 60vw;
}

.valPara p {
  font-size: 20px;
  line-height: 35px;
}

.section-heading {
  color: var(--secondary);
  text-align: center;
  margin-bottom: 1rem;
  line-height: 0.5;
}

.section-heading span {
  color: var(--temp);
}

.section-heading + p {
  color: var(--ternary);
  font-family: "Lato", sans-serif;
  margin-bottom: 1rem;
}

section.work {
  background: var(--light);
  padding: 4rem 0;
}
section.Newsletter {
  display: block;
}

.Newsletter {
  width: 100vw;
  padding-top: 50px;
  padding-bottom: 50px;
  padding: 50px 0 50px 0;
}

footer {
  background: var(--dark);
  text-align: center;
  padding: 2rem 0;
}

footer .copy {
  color: var(--ternary);
  text-align: center;
  padding: 1rem 0;
}

footer .logo {
  margin-bottom: 1rem;
}

.active {
  background-color: var(--primary);
  color: white;
}

.fa {
  color: white;
}

* {
  box-sizing: border-box;
}

.slideshow-container {
  max-width: 100vw;
  position: relative;
  margin: auto;
}

/* .mySlides {
  display: none;
} */

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

form {
  border: 4px solid #f1f1f1;
}

.container-form {
  padding: 20px;
  background-color: #f1f1f1;
}

input[type="text"],
input[type="submit"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-top: 16px;
}

input[type="submit"] {
  background-color: #007166f5;
  color: white;
  border: none;
}

input[type="submit"]:hover {
  opacity: 0.8;
}

section.contact .card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 6px 0 16px 0;
  resize: vertical;
}

input[type="submit"] {
  background-color: #007166f5;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #007166f5;
}

.container-fo {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.ourValues {
  line-height: 30px;
}

.emp {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  margin-top: 10px;
  height: 500px;
  width: 100%;
  flex-wrap: nowrap;
}

.emp img {
  margin: 10px;
  border-radius: 20px;
}
